table {
    width: 100%;
}

.cssNew{
    position: relative;
    left: 14px;
    top: 16px;
    background: white;
    color: black;
}

.min-width{
    width: 0!important;
    min-width: 100px!important;
}

.min-width-header{
    width: 0!important;
    min-width: 50px!important;
}




