button{
    min-width: 100px; 
    height: 28px; 
    outline: none!important;
}

mat-icon {  
    position: relative;
    font-size: large;
    bottom: 1px;
}

mat-spinner {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5.1px;
}

.cssIcon{
    position: relative;
    left: 2px;
    bottom: 4px;
}

.cssSppinner{
    position: relative;
    left: 15px;
    bottom: 4px;
}

